{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Animated with css</title>
        <link rel="stylesheet" href="{% static 'css/stylo.css' %}">
    </head>
        <body>
            <nav class="banner-text">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
                <h2>Wilkommen!</h2>
            </nav>
            <div class="animation-area">
                <ul class="box-area">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>
        </body>
</html>