{% load static %}

<html>

<head>
    {% if post.title %}
    <title>{{ post.title }}&nbsp;kUtA hURu Ya swai Ya UcHApisHaJi&nbsp;</title>
    {% else %}
    <title>kUtA hURu Ya swai Ya UcHApisHaJi</title>
    {% endif %}

    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" name="viewport">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af18556798.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
     
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80313533-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    
    gtag('config', 'UA-80313533-1');
    </script>
     
</head>
<style>
.top-nav {
    position: relative;
}
</style>
<div class="top-nav">
    <h2><b></color><a href="/" style="text-decoration: none;">&nbsp;kUtA hURu ya UcHApisHaJi .&nbsp;</a></b>
        <form class="example" method="POST" action="{% url 'search' %}" class="search form-input" role="search">
            {% csrf_token %}
                <i class="icon-zoom-in"></i>
                <input class="example" type="search" name="search" placeholder="Search this site" id="search" style="background:url(http://twitter.github.io/bootstrap/assets/img/glyphicons-halflings.png) no-repeat -38px 9px">
                <button type="submit" formaction="{% url 'search' %}">search</button>
            </form>
    </h2>
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<body>
    {{ message }}
    {% if messages %}
    {% for message in messages %}

    <div class="text-center">
            <div class="new_user_banner">
                Welcome to the open blog, <i>{{ message }}!</i><br>now you can Login!
            </div>    
    </div>
   
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>
